In [54]:
import tensorflow as tf
import pandas as pd
import tensorflow.keras as layers
import numpy as np

In [61]:
input_data = pd.read_csv("train.csv")

def set_age(name):
    if(name.find('Mr.') != -1): #male - married or not
        return 30
    elif(name.find('Mrs.') != -1): #female - married
        return 45
    elif(name.find('Ms.') != -1): #female - married or not 
        return 30
    elif(name.find('Miss.') != -1): #female - not married 
        return 20
    else:
        return 45

def clean_dataset(dataset):
    popular_port = dataset['Embarked'].dropna().mode()[0] 
    print("This port is most popular and replace all 'NA' to " + popular_port)
    dataset['Embarked'] = dataset['Embarked'].fillna(popular_port)
    dataset['Companions'] = dataset['SibSp'] + dataset['Parch'] #number of people travelling with

    dataset['Age'] = dataset.apply(
                            lambda row: set_age(row['Name']) if np.isnan(row['Age']) else row['Age'], axis=1)
    
    dataset = dataset.drop(['PassengerId','Cabin', 'Ticket', 'Name', ], axis=1) #drop useless columns
    return(dataset)
    
    
train_data = clean_dataset(input_data)
train_data

This port is most popular and replace all 'NA' to S

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Companions
0,0,3,male,22.0,1,0,7.2500,S,1
1,1,1,female,38.0,1,0,71.2833,C,1
2,1,3,female,26.0,0,0,7.9250,S,0
3,1,1,female,35.0,1,0,53.1000,S,1
4,0,3,male,35.0,0,0,8.0500,S,0
...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,0
887,1,1,female,19.0,0,0,30.0000,S,0
888,0,3,female,20.0,1,2,23.4500,S,3
889,1,1,male,26.0,0,0,30.0000,C,0
890,0,3,male,32.0,0,0,7.7500,Q,0